<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Test App</title>
</head>
<body>
    <h1>Test App</h1>
    <script>
        {{{app}}}
        {{{state}}}
    </script>
    <script>
        console.log(flickr_api, user.id);
    </script>
</body>
</html>
